[Unit]
Description={{ service_name }} microservice
After=mutli-user.target rabbitmq-server.service
Requires=multi-user.target rabbitmq-server.service

[Service]
Type=simple
User={{ service_name }}
ExecStart=/home/{{ service_name }}/run.sh
Restart=on-failure
RestartSec=360

[Install]
WantedBy=multi-user.target
